/*
 * Overrides CSS
 */

blockquote p {
    
    font-size: 14px;
    
    line-height: 1.6;
}


.item-page h2 {
    font-size: 26px;
	color: #f57618;
  line-height:30px;
  margin: 13px 0;

}


/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
      position: relative;
  }

  .innerwidth,
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
      width: 1280px;
  }

    .innerwidth {
      margin: 30px auto;
  }
}

/*allg*/

a {
    transition: all 0.4s ease-in-out;
}

body.site a:hover,
body.site a:focus {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body.site .page-header {
    border-bottom: none;
}

.page-header h1,
.page-header h2 {
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 300;
    font-size: 29px;
}
/*
main#content {
    margin-bottom: 50px;
}*/

body.site div#rev_slider_3_1_wrapper {
    background: #fff !important;
}

/*logo*/

body.itemid-111 .clear-slider-wrap {
    opacity: 0.92;
}

div.clear-slider {
    position: relative;
    z-index: 0;
}

div#logoContainer {
    position: absolute;
    z-index: 21;
    top: 24%;
    left: 0;
    padding: 15px 50px 15px 40px;
    background: rgba(0,0,0,0.6);
    box-shadow: 4px 1px 7px #2B2B2B;
    text-shadow: 2px 3px 4px #313131;
  font-family: Nunito;
}

div#logoHeader,
div#logoContainer div.vcard .adr {
    text-transform: uppercase;
    color: #fff;
}

div#logoHeader h2 {
    font-size: 74px;
    font-weight: 300;
    text-align: right;
}

div#logoHeader h3 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    padding-left: 8px;
    margin-left: 67px;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: -0.9px;
    background: url('/images/content/logo-hr.jpg') no-repeat left 0px;
}

body.Firefox div#logoHeader h3 {
    margin-left: 69px;
}


div#logoHeader h3 span {
    font-size: 24px;
    font-weight: 300;
    color: #f39a33;
    letter-spacing: 4.5px;
}

div#logoContainer div.vcard {
    padding-left: 100px;
}

div#logoContainer div.vcard .tel {
    font-size: 24px;
    font-weight: 300;
    text-align: right;
    padding-right: 5px;
}

div#logoContainer div.vcard .tel a { 
    color: #fff;
    text-decoration: underline;
}

div#logoContainer div.vcard .adr {
    text-align: right;
    font-size: 16px;
    padding-right: 5px;
    padding-top: 10px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0;
}
/*
body.site.itemid-131 div#logoContainer div.vcard .adr {
    color: #3d3d3d;
}*/


/*navImgs*/

div.module_top {
    position: relative;
    overflow: hidden;
    padding: 5px 3px 10px 5px;
}

.navElement {
    position: relative;
    z-index: 1;
}

.custom.navElement figure h3 {
    color: #3d3d3d;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 22px;
    padding-left: 25px;
    padding-top: 8px;
}

.custom.navElement figure:hover a {
    text-decoration: none;
}

.custom.navElement img {
    position: relative;
    z-index: 0;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    transition: filter 0.4s ease-in-out,
    -webkit-filter 0.4s ease-in-out;
}

.navElement:hover .custom.navElement img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

div#module_90 .custom.navElement figure h3 {
    background: url('/images/content/navImg-hr-orange.jpg') no-repeat top 0px left 10px;
}

div#module_91 .custom.navElement figure h3 {
    background: url('/images/content/navImg-hr-brown.jpg') no-repeat top 0px left 10px;
}

div#module_92 .custom.navElement figure h3 {
    background: url('/images/content/navImg-hr-blue.jpg') no-repeat top 0px left 10px;
}

@media(min-width: 1280px) {

    .custom.navElement a:before,
    .custom.navElement a:after {
        content: ' ';
        z-index: 1;        
        width: 0px;
        height: 0px;
        top: 50%;
        right: 50%;
        position: absolute;
        opacity: 1;
        border-radius: 100%;
        transform: rotate(0deg);        
    }
    .custom.navElement a:before {
      background: #F39A33;
      transition: all 0.3s ease-in-out;
    }
    .custom.navElement a:after {
      background: #fff;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
    }    

    div.navElement:hover .custom.navElement a:before {
        width: 296px;
        height: 232px;
        top: 0%;
        right: -1%;
        border-radius: 0%;
        opacity: 0.1;
    }

    div.navElement:active .custom.navElement a:before {
        opacity: 1;
        top: 50%;
        right: 50%;
        width: 0px;
        height: 0px;
        background: rgba(255,255,255,0.4);
        border: 5px solid rgba(243,154,51, 0.3);
        box-shadow: inset 0px 0px 40px 5px #f39a33;
        border-radius: 100%;
        transition:
          top 0.2s ease-in-out,
          right 0.2s ease-in-out,
          width 0.2s ease-in-out,
          height 0.2s ease-in-out, 
          color 0.2s ease-in,
          opacity 0.1s ease-in-out;
    }

    div.navElement:active .custom.navElement a:after {
        width: 288px;
        height: 220px;
        top: 0%;
        right: 0%;
        border-radius: 0%;
        box-shadow: inset 0px 0px 40px 15px #e2e2e2;
    }
}
 /*footer*/

 .fullwidth.clear-footer-wrap {
    background: #f8f8f8;
}

ul#navFooter {
    position: relative;
    text-align: right;
    margin: 0px;
    padding: 20px 20px;
}

ul#navFooter li {
    display: inline-block;
    padding-right: 25px;
    text-transform: uppercase;
}
ul#navFooter li:last-child { padding-right: 0px;}
ul#navFooter li a {
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 300;
  }
ul#navFooter li a:hover {color: #f39a33;}  

div#copyright {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px auto 30px;
}

 /*Menue*/

body.site .navbar .nav li.current.active a {
    background: url('/images/activePipe.jpg') no-repeat left 4px;
}

ul.nav.menu.nav-pills li:first-child a {
    padding-left: 0px;
}

ul.nav.menu.nav-pills li.active:first-child a {
    padding-left: 10px;
}

body.site .navbar .nav>li>a:focus,
body.site  .navbar .nav>li>a:hover {
    color: #E0E0E0;
}

body.site .navbar .nav>.active>a:hover {
    background-color: transparent;
    box-shadow: none;
    text-shadow:
      0px 0px 20px #fff,
      0px 0px 50px #fff,
      0px 0px 70px #fff;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav>li>a {
    float: none;
    font-weight: 300;
    padding: 11px 10px 10px 10px;
    color: #575756;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: none;
}

.nav-wrapper.fullwidth {
    background-color: #f39a33;
}

 nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}

.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0px;
    background-color: transparent;
    background-image: none;
}

 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*
 * tmpl-Standards
 */

.site-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.header {
  padding: 0;
}

.container {
/*  background-color: #fff;*/
  padding: 20px 0px;
}

.clear-footer {

}

.navbar-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
    z-index: 999;
}

