.tp-caption.excerpt,.excerpt{font-size:48px;line-height:36px;font-weight:700;font-family:Arial;color:rgb(255,255,255);text-decoration:none;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.53);padding:1px 4px 0px;text-shadow:none;margin:0px;letter-spacing:-1.5px;height:auto;border-width:0px;border-color:rgb(255,255,255);border-style:none}

.excerpt,.excerpt{font-size:48px;line-height:36px;font-weight:700;font-family:Arial;color:rgb(255,255,255);text-decoration:none;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.53);padding:1px 4px 0px;text-shadow:none;margin:0px;letter-spacing:-1.5px;height:auto;border-width:0px;border-color:rgb(255,255,255);border-style:none}